.sideHelperLayout .active{
    animation: App-logo-spin infinite 20s linear;
}
.fav{
  padding: 15%;
  color : green;
  cursor: pointer;
}
.fav:hover{
  color: rgb(41, 186, 41);
}
.library{
  padding: 15%;
  color : green;
  cursor: pointer;
  display: none;
}
.library:hover{
  color: rgb(41, 186, 41);
}
.queue{
  padding: 15%;
  color : green;
  cursor: pointer;
  display: none;
}
.queue:hover{
  color: rgb(41, 186, 41);
}
.account{
  padding: 15%;
  color : green;
  cursor: pointer;
}
.account:hover{
  color: rgb(41, 186, 41);
}
@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

@media (max-width:600px){
    .sideHelper{
        width: 15%;
    }
    .fav{
      display: none;
    }
    .library{
      display: block;
    }
    .queue{
      display: block;
    }
  }